@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Jua&display=swap');

body {
  margin: 0%;
  font-family: 'Gugi', cursive;
}

.navbar {
  display: flex;
  padding: 10px;
  justify-content: right;
  border-bottom: #f6dede 1px solid;
  user-select: none;
}

.nav_name {
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
}

.glow-on-hover {
  font-family: 'Jua', sans-serif;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  outline: none;
  color: #111;
  background: #fff;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

.line {
  border: black 2px solid;
  border-radius: 30px;
  background-color: black;
  margin: 5px;
}